.panel {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  display: block; }

slider {
  display: block;
  margin-bottom: 20px;
  position: relative; }
  slider label {
    color: white;
    width: 70px;
    display: inline-block; }
  slider input[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    outline: none; }
    slider input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #bada55;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out; }
      slider input[type="range"]::-webkit-slider-thumb:hover {
        background: #e06161; }
    slider input[type="range"]:active::-webkit-slider-thumb {
      background: #e06161; }
  slider .range-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #bada55;
    padding: 5px 10px;
    margin-left: 7px; }
    slider .range-value:after {
      position: absolute;
      top: 8px;
      left: -7px;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-right: 7px solid #bada55;
      border-bottom: 7px solid transparent;
      content: ''; }
